@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-h1 {
    @apply font-jost-bold text-[32px] font-bold leading-[1.2] tracking-[0.2px];
  }
  .text-h2 {
    @apply font-jost-bold text-[28px] font-bold leading-[1.2] tracking-[0.2px];
  }
  .text-h3 {
    @apply font-jost-bold text-[24px] font-bold leading-[1.2] tracking-[0.2px];
  }
  .text-title1 {
    @apply font-jost-medium text-[18px] font-medium leading-[1.2] tracking-[0.2px];
  }
  .text-title2 {
    @apply font-jost text-[16px] leading-[1.2] tracking-[0.2px];
  }
  .text-title3 {
    @apply font-jost text-[14px] leading-[1.2] tracking-[0.2px];
  }
  .text-label1 {
    @apply font-jost text-[14px] leading-[1.2] tracking-[0.2px];
  }
  .text-label2 {
    @apply font-jost text-[12px] leading-[1.2] tracking-[0.2px];
  }
  .text-label3 {
    @apply font-jost text-[10px] leading-[1.2] tracking-[0.2px];
  }
  .text-body1 {
    @apply font-jost text-[16px] leading-[1.2] tracking-[0.2px];
  }
  .text-body2 {
    @apply font-jost text-[14px] leading-[1.2] tracking-[0.2px];
  }
  .text-body3 {
    @apply font-jost text-[12px] leading-[1.2] tracking-[0.2px];
  }
}
